<app-client-nav>
  <div class="container">
      <nav class="top-nav text-center mt-2"> <h3>My jobs in progress</h3></nav>
    <div *ngIf="dataSource.data.length == 0" class="text-center alert">Jobs in progress will appear here.</div>
    <div *ngIf="dataSource.data.length > 0">
      <div class="form-group">
        <mat-form-field class="_form-control">
          <mat-label>Filter jobs</mat-label>
          <input matInput type="search"  (keyup)="applyFilter($event)" placeholder="Search">
        </mat-form-field>
      </div>
        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort  style="width: 100%;">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

             <ng-container matColumnDef="topic">
              <th mat-header-cell *matHeaderCellDef> Topic </th>
              <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
            </ng-container>
            <ng-container matColumnDef="price" mat-sort-header>
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let element"> {{element.price}} </td>
            </ng-container>

             <ng-container matColumnDef="freelancer">
              <th mat-header-cell *matHeaderCellDef> Freelancer </th>
              <td mat-cell *matCellDef="let element">

                <a mat-button href="/client/freelancer-details/{{element.id}}">{{element.freelancer.firstname}}</a>
              </td>
            </ng-container>

             <ng-container matColumnDef="submissions">
              <th mat-header-cell *matHeaderCellDef> Submission </th>
              <td mat-cell *matCellDef="let element">
                <a class="m-1" *ngIf="element.submissions" matTooltip="See submissions" [disabled]="element.submissions.length == 0" href="/client/jobs/submissions/{{element.id}}" mat-raised-button color="primary"><i class="fa fa-download"></i>&nbsp;</a>
                <button matTooltip="Mark as complete"
                        (click)="complete(element)"
                        mat-raised-button color="primary" class="m-1">
                  <i class="fa fa-check"></i>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="deadline" mat-sort-header>
              <th mat-header-cell *matHeaderCellDef> Deadline </th>
              <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>

  </div>
</app-client-nav>
