.nav-bar{
  justify-content: space-between;
}
.nav-small{
  display: flex;
}
.container{
  padding-top: 30px;
}
.back-button{
margin-right: 20px;
}
.action-buttons{
  margin-top: 25px;
}
